@import "colors";
@import "fonts";
@import "devices";

.products {
  margin-bottom: 35px;

  &__title {
    padding-left: 22px;
    margin-bottom: 15px;

    @media #{$desktop} {
      padding-inline: 16px;
    }
  }

  &__item {
    $item: &;
    position: relative;
    transition: background-color 0.1s ease-in;

    &:last-of-type #{$item}__content {
      border-bottom: none;
    }

    &:hover {
      background-color: $grayMid;
    }

    &__link {
      align-items: center;
      color: black;
      display: flex;
      text-decoration: none;
      padding-left: 22px;
      
      @media #{$desktop} {
        padding-left: 16px;
      }
    }

    &__image {
      border-radius: 10px;
      display: block;
      margin-right: 12px;
      min-width: 50px;
      overflow: hidden;
    }

    &__title {
      display: block;
      font: {
        size: 16px;
        weight: $semiBold;
      }
      margin-bottom: 5px;
    }

    &__text {
      color: $grayDarker;
      display: block;
      font: {
        size: 13px;
      }
      line-height: 20px;
      max-width: calc(100% - 40px);
    }

    &__icon {
      color: $grayLighter;
      display: block;
      height: 13px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: color 0.2s ease-in;
      width: 7px;
    }

    &__content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      min-height: 75px;
      padding-block: 12px;
    }
  }
}
