@import "colors";
@import "fonts";
@import "devices";

.page {
  height: 100%;

	&__content {
    flex-grow: 1;
    overflow-y: auto;

    @media #{$desktop} {
      flex-grow: initial;
      overflow-y: initial;
    }

    &__icons {
      display: flex;
      justify-content: end;
      height: 50px;
      min-height: 50px;
      align-items: center;

      &__link {
        display: flex;
        width: 18px;
        color: black;
        margin-right: 25px;
        transition: opacity 0.1s ease-in;

        &:hover {
          opacity: 0.65;
        }
      }
    }


    &__wrapper {
      max-width: 825px;
      margin: 35px auto 50px;

      &__title {
        font: {
          size: 46px;
          weight: $bold;
        }
        line-height: 130%;
        margin-bottom: 25px;

        @media #{$desktop} {
          padding-inline: 20px;
          font: {
            size: 24px;
          }
        }

      }

      &__text {
        font: {
          size: 16px;
          weight: $normal;
        }
        line-height: 25px;
        margin-bottom: 12px;

        @media #{$desktop} {
          padding-inline: 20px;
          display: block;
        }

        &__link {
          color: #007AFF;

          &:hover {
            text-decoration: none;
          }

        }

      }

      &__subtext {
        font: {
          size: 16px;
          weight: $bold;
        }
        color: black;
        line-height: 25px;
        margin-bottom: 16px;

        @media #{$desktop} {
          padding-inline: 20px;
        }

      }

      &__media {
        margin-bottom: 16px;
        display: block;

        &:last-of-type {
          margin-bottom: 70px;
        }
      }

      &__list {
        padding-left: 18px;
        list-style: none;


        @media #{$desktop} {
          padding-inline: 20px;
        }

      }

      &__item {
        margin-bottom: 12px;
        position: relative;
        padding-inline: 20px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 10px;
          height: 10px;
          width: 10px;
          background-color: black;
          border-radius: 50%;
        }

        @media #{$desktop} {
          padding-inline: 0;
        }

      }
    }
  }
}